*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', light ;
}
@font-face {
    font-family: 'Baloo';
    font-style: bold;
    font-weight: 300;
    src: url(/Baloo-Font/Baloo-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Baloo medium';
    font-style: bold;
    font-weight: 300;
    src: url(/Baloo-Font/Baloo-Regular.ttf);
  }
  
html{
  overflow-x: hidden;
}

.nav-Links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav-Links a{  
    color: rgb(0, 31, 40);
    font-family: 'Baloo';
    font-style: bold;
    font-weight:400px;
    font-size: 35px;
    
}
.nav-Links a:hover{
    color: rgb(215, 120, 70);
  }

 .h1{
        color: rgb(0, 31, 40);
        font-family: 'Baloo';
        font-style: bold;
        font-weight:400px;
        font-size: 90px;
        margin-right: 10px;
 }

h2{
        color: rgb(0, 31, 40);
        font-family: 'Baloo';
        font-style: bold;
        font-weight:400px;
        font-size: 45px;
        margin-right: 10px; 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}



.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight:400px;
  font-size: 35px;
}

.nav-link:hover{
  color: rgb(215, 120, 70);
}

 
.billboard span{
  font-family: 'Baloo';
}

 .p{
        color: rgb(0, 31, 40);
        font-family: 'Baloo';
        font-style: bold;
        font-weight:700px;
        font-size: 19px;
        margin-left: 90px;
}

.group-image3{
  margin-left: 30px;
}

span{
    color: rgb(215, 120, 70);  
}

 .hr{
    width:80px;
    height: 3px;
    margin-top: -30px;
    background-color: rgb(215, 120, 70);  
} 
.herocontent span{
  width:80px;
    height: 3px;
    margin-top: -30px;
    font-family: 'Baloo';
} 



 .herocontent{
  margin-left: 6%;
} 

.hero-images{
  margin-left: -150px;  
  z-index: 1;
  position: relative;
}
.hero-image3{
  margin-left: 40px;
}
.hero-image1{
  height: 65%;
  width: 300px;
  padding-top: 9px;
}
.hero-image2{
  padding-top: 127px;
  
}
.hero-images2{
  margin-top: -94px;
  margin-left: -135px;
  
}
.group-image6{
  margin-left: 67px;
  margin-top: -10px;
}

.herosection{
    padding:100px 0 0 0 ; 
       padding-bottom:300px; 
      margin-right: 10%;
}

   .imag1{
        width: 299px;
        margin: 7px;
      } 

      .img2{
        width: 320px;
        padding-left:28px;

      }


      .img3{
        width: 300px;
        padding-left:20px;
        padding-top:130px;
      }

      .img4{
        width: 360px;
        padding-left:28px;
        margin-left:28px;
      }

       .hero{
        padding:28px;
      } 

      .imga{
        margin-top:-110px;
        width: 300px;
      
      }

     .imgb{
      margin-top:-90px;
      width: 280px;
      margin-left:30px;
     } 
      

     .imgc{
        margin-top: -73px;
        width:200px;
         margin-left:43px; 
     }

     .imgd{
        margin-top: -120px;
        width: 437px;
        margin-left:70px;
        
     }

 .drivensection{
  padding:100px 0 0 0 ; 
  padding-bottom:130px;
 }

.driven  span {
color: rgb(215, 120, 70);
font-family: 'Baloo';
font-weight:400px;
 font-size: 45px
}


.P1{
font-weight:500px;
 font-size: 19px
}

.our-services{
  background-color: rgb(0, 57, 78);
  padding:100px 0 0 0 ; 
   padding-bottom:130px;
}

.ourservices h3 span{
  color: white;
  font-family: 'Baloo';
  font-weight:400px;
  font-size: 45px
}

 .ourservices img{
object-fit: cover;
 } 

 .card4{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 background-color: rgb(0,57, 78);
  box-shadow: 0 4px 8px 0 rgb(0,57, 78);
  align-items: center;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2); 
  transition: 0.3s;
  width: 90%;
  border-radius: 0px;
  padding: 2px 16px;  
   
}

.amazing{
  width: 27%;
}
 .ourserviceimage{
  width: 100%;
  
} 

.our-services h3{
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
}




.hr1{
  background-color: rgb(215, 120, 70);
  margin-top: 0;
  width: 100%;
}

.our-services p{
color: white;
text-align: left;
}


.services{
  margin-left: 90px;
  
}

.services span{
  color: #fff;
  font-family: 'Baloo';
  font-weight:400px;
   font-size: 45px; 

}
.subscribe {
  background-color: rgb(0, 57, 78);
   padding: 25px; 
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-weight: 700px;
  width: 389px;
  text-align: center;
}

.brands{
  padding:100px 0 0 0 ; 
   padding-bottom:130px;
}
.brandsbutton{
  line-height: 90px;
}

.brands h3{
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
font-weight:400px;
 font-size: 38px

}
.bran{
  align-items: center;
  justify-content: center;
}

.paragraph p {
text-align: center;
  justify-content: center;
}


.getintouch p{
  margin-bottom: 0px;
}
.getintitouchsection h3{
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 45px;
}

.getintitouchsection p{
font-weight: 500px;
font-size: 19px;
font-style: bold;
}
.getintitouchsection{
  background-color: rgb(243, 244, 246);
  padding:100px 0 0 0 ; 
   padding-bottom:100px;
   
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  border: 0px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 5px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#subject{
  height:200px
}

.Submitbutton{
  background-color: rgb(0, 57, 78);
padding: 20px;
color: white;
font-size: 25px;
font-weight: bold;
font-weight: 700px;
width:551px;
text-align: center;
}

.button{
    display: flex;
    align-content: center;
    justify-content: center;
}

.contactsection{
background-image: url(/image/Rectangle\ 80\ \(2\).png);
padding:100px 0 0 0 ; 
 padding-bottom:111px; 
 margin-top: 90px;
}

.fa{
  padding-right: 3px;
}

.contact h3{
color: #fff;
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 45px
}

.contact p{
  color: #fff;
  font-weight: 700px;
  font-size: 21px;
  font-style: bold;
  margin-bottom: 0px;
}

 .contactptag{
  display: flex;
}
.ptag{
  display: flex;
} 

.ftlogo{
  text-align: center;
  width: 100%;
}
.slick-carousel {
  padding-top: 70px;
  margin: auto;
  width: 90%;
}


/* The width of each slide */
.slick-slide {
  width: 350px;
}



.slick-prev:before {
  content: '←';
  display: none;
}
.slick-next:before {
  content: '→';
  display:none
}
@media only screen and (max-width: 768px) {
  .nav-menu { 
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.driven span {
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
  font-weight: 400px;
  font-size: 29px;
}
h2 {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 28px;
  margin-right: 10px;
}
.logo{
  width: 43%;
}
.brands h3 {
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
  font-weight: 400px;
  font-size: 23px;
}
.contact h3 {
  color: #fff;
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 34px;
}
.contact p {
  color: #fff;
  font-weight: 700px;
  font-size: 18px;
  font-style: bold;
  margin-bottom: 0px;
}
.nav-item {
  margin: 0.5rem 0;
}
.subscribe {
  background-color: rgb(0, 57, 78);
  padding: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-weight: 700px;
  width: 389px;
  text-align: center;
}
.contactsection {
  background-image: url(/image/Rectangle\ 80\ \(2\).png);
  padding: 100px 0 0 0;
  padding-bottom: 111px;
  margin-top: 90px;
  background-position: right;
}

  }
 





@media (max-width:576px) {
.hero-image1 {
  width: 148%;
  padding-top: 9px;

}

.hero-imagez{
  width: 148%;
  padding-top: 9px
}


.hero-imagey{
  width: 100%;
  padding-top: 9px;
  margin: 10px;
} 


.hero-image2 {
display: none;
  padding-top: 127px;
}

.hero-image3 {
  display: none;
  margin-left: 40px;
}

group-image3 {
  display: none;
  margin-left: 30px;
}


.Group-image5 {
  display: none;
  margin-left: 30px;
}


.group-image4 {
  display: none;

}

.group-image6 {
  display: none;
  margin-left: 67px;
  margin-top: -213px;
  width: 134%;
}

   

   .hero-imagez {
      display: none;
      padding-top: 127px;
    }
    .hero-image1 {
        display: none;
        padding-top: 127px;
      }

      .group-image3 {
          display: none;
          padding-top: 127px;
        }

        .slick-carousel {
          padding-top: 70px;
          margin: auto;
          width: 100%;
          
        }

.our-services {
    background-color: rgb(0, 57, 78);
    padding: 100px 0 0 0;
    padding-bottom: 130px;
    width: 100%;
}
.h1 {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 60px;
  margin-right: 10px;
}

.nav-Links a {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 20px;
}

.productimage{
  width: 100%;
}
.contactimage{
  width: 100%;
}


.imgt{
width: 100%;
}



.services span {
  color: #fff;
  font-family: 'Baloo';
  font-weight: 400px;
  font-size: 37px;
}


.herocontent   span{
   color: rgb(215, 120, 70);
    font-family: 'Baloo';
    font-style: bold;
    font-weight:400px;
    font-size: 40px;
    margin-right: 10px;

}
.hr {
  width: 80px;
  height: 3px;
  margin-top: -44px;
  background-color: rgb(215, 120, 70);
}

.getintitouchsection h3 {
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 40px;
}
.nav-link{
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight:400px;
  font-size: 20px;
}
.hero-images {
  margin-left: -52px;
  z-index: 1;
  position: relative;
}
.h1 {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 34px;
  margin-right: 10px;
}
.P1 {
  font-weight: 500px;
  font-size: 13px;
}
.herocontent span {
  color: rgb(215, 120, 70);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size:32px;
  margin-right: 10px;
}

} 


  

@media screen and (min-device-width: 577px) and (max-device-width: 991px) { 
  
  .h1 {
    color: rgb(0, 31, 40);
    font-family: 'Baloo';
    font-style: bold;
    font-weight: 400px;
    font-size: 63px;
    margin-right: 10px;
}
  .imgt{
    width: 100%;
    }
    .hero-image1 {
  width: 148%;
  padding-top: 9px;

}

        .productimage{
          width: 100%;
        }

        .contactimage{
          width: 100%;
        }
        .getintitouchsection h3 {
          color: rgb(215, 120, 70);
          font-family: 'Baloo';
          font-style: bold;
          font-weight: 400px;
          font-size: 27px;
      }
      .getintitouchsection p {
        font-weight: 500px;
        font-size: 14px;
        font-style: bold;
    }
    .driven span {
      color: rgb(215, 120, 70);
      font-family: 'Baloo';
      font-weight: 400px;
      font-size: 36px;
  }
    .P1 {
      font-weight: 500px;
      font-size: 12px; 
 }
 .services span {
  color: #fff;
  font-family: 'Baloo';
  font-weight: 400px;
  font-size: 36px;
}
.contact h3 {
  color: #fff;
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 34px;
}
.contact p {
  color: #fff;
  font-weight: 700px;
  font-size: 16px;
  font-style: bold;
  margin-bottom: 0px;
}
.nav-link {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 25px;
}
.Submitbutton {
  background-color: rgb(0, 57, 78);
  padding: 20px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  font-weight: 700px;
  width: 551px;
  text-align: center;
}
.h1 {
  color: rgb(0, 31, 40);
  font-family: 'Baloo';
  font-style: bold;
  font-weight: 400px;
  font-size: 69px;
  margin-right: 10px;
}
 }